/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --baxsic-background-image: url('../images/cover-image-light.png');
  --button-color: #353430;
  --header-decor-color: #353430;
  --accent-color: #FF8DCB;
  --section--title-color: #353430;
  --main-color-opacity: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --decor-text-color: #353430;
  --card-text-color: #353430;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --baxsic-background-image: url('../images/cover-image-light.png');
    --button-color: #353430;
    --header-decor-color: #353430;
    --accent-color: #FF8DCB;
    --section--title-color: #353430;
    --main-color-opacity: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --decor-text-color: #353430;
    --card-text-color: #353430; 
  }
}
