/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--baxsic-background-image);
  background-position: center;
  background-attachment: fixed;
}

/* header */



/* content */

.content {

}

/* footer */