/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--baxsic-background-image);
  background-position: center;
  background-attachment: fixed;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  top: 0;
  right: 9px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);

}

.header__theme-menu-list {
  margin: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  inline-size: 70px;
  block-size: 26px;
  
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--main-color-opacity);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-style: Bold;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 29.3px;
  letter-spacing: 0%;
  margin: 55px 0;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
  margin-bottom: 40px;
}

.content__section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.section__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--accent-color);
}

.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.card__text {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text-color);
}

.card__link {
  text-decoration: none;
  text-shadow: 1px  1px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-text-color);
}

.card__link:focus {
  border: 1px solid var(--card-text-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
}

.section__img {
  width: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 648px;
  margin: 10px;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer__title {
  font-weight: 700;
  font-style: Bold;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}