/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--baxsic-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 10px;
  padding: 65px 0 56px;
  height: calc(100vh - 20px);
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-decor-color);
  border-left: 1px solid var(--header-decor-color);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-decor-color);
  border-right: 1px solid var(--header-decor-color);
}

.rec {
  position: absolute;
  top: 0;
  right: 9px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--header-decor-color);
  text-transform: uppercase;
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  inline-size: 70px;
  block-size: 26px;
  
  background-color: transparent;
  border: none;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--main-color-opacity);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  position: absolute;
  top: calc(50% - var(--title-current-size) / 2);
  left: 0;

  font-weight: 700;
  font-style: Bold;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--title-current-size);
}

.header__text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 29.3px;
  letter-spacing: 0%;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
  margin-bottom: 40px;
}

.content__section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.section__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--section--title-color);
}

.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
h2.card__title{
  margin-bottom: 20px;
}

.card__title.regular {
  font-weight: 400;
  font-style: Regular;
}

.card__text {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text-color);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px  2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-text-color);
}

.card__link:focus {
  border: 1px solid var(--card-text-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
}

.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 20px);
  margin: 10px;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer__title {
  font-weight: 700;
  font-style: Bold;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  /* header */

  :root {
    --title-current-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    margin: 20px;
    padding: 172px 0 163px;
    height: calc(100vh - 40px);
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    width: 50%;
    align-self: flex-end;
  }

  /* main */

  .content {
    gap: 80px;
    padding: 60px 20px;
    margin-bottom: 60px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .card {
    grid-column: 2 / auto;
  }

  .content__section.changed {
    grid-template-columns: 1fr;
  }

  .card.changed {
    grid-column: 1 / auto;
  }

  .img-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 192px 230px 318px;
  }

  .img-section .section__title {
    grid-column: 1 / 4;
  }

  .section__img:nth-child(2) {
    grid-column: 1 / 3;
  }

  .section__img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__img:nth-child(4) {
    grid-row: 3 / 5;
  }

  .section__img:nth-child(6) {
    grid-column: 2 / 4;
  }

  /* footer */

  .footer {
    margin: 20px;
    height: calc(100vh - 40px);
  }
}

@media (width >= 1024px) {
  /* header */

  .header {
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-self: center;
  }

  .content__section.changed {
    grid-template-columns: repeat(3, 1fr);
    grid-row: min-content 1fr;
  }

  .card.changed {
    grid-row: 2 / auto;
    grid-column: auto;
  }

  .img-section {
    grid-template-rows: min-content 260px 315px 433px;
  }
}