/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --baxsic-background-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --main-color-opacity: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --decor-text-color: #000028;
}
